Source: atskafka
Section: web
Priority: optional
Maintainer: Emanuele Rocca <ema@wikimedia.org>
Uploaders: Valentin Gutierrez <vgutierrez@wikimedia.org>
Build-Depends: debhelper (>= 10), dh-golang, golang-github-confluentinc-confluent-kafka-go-dev (>= 0.11.6), golang-go, golang-github-prometheus-client-golang-dev, prometheus-rdkafka-exporter (>= 0.2)
Standards-Version: 4.2.1

Package: atskafka
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Traffic Server to Kafka log streamer
 Read request logs from a UNIX domain socket, convert them to JSON, and send
 the data to Kafka brokers.
 .
 See https://github.com/wikimedia/operations-software-fifo-log-demux
