#!/usr/bin/make -f

export DH_GOPKG = gerrit.wikimedia.org/r/operations/software/atskafka
export DH_GOLANG_EXCLUDES := vendor/
export DH_GOLANG_EXCLUDES_ALL := 1
export DH_GOLANG_INSTALL_ALL := 1

%:
	dh $@ --buildsystem=golang --with=golang
