#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PKGDIR = $(CURDIR)/debian/atskafka

%:
	dh $@

override_dh_auto_build:

override_dh_strip:
	dh_strip --no-automatic-dbgsym

override_dh_install:
	install -d -m 755 -o root -g root $(PKGDIR)/usr/bin
	GOPATH=/tmp/ GOCACHE=/tmp/ go build -o $(PKGDIR)/usr/bin/atskafka
	chown root:root $(PKGDIR)/usr/bin/atskafka
